window {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 12px;
  padding: 10px;
}

#input {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  margin: 10px;
  border: 0;
}

#entry {
  background-color: transparent;
  margin: 2px 0;
  padding: 4px 8px;
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  transition: background-color 0.2s ease-in-out;
}

#entry:selected {
  background-color: rgba(255, 255, 255, 0.1);
}

#entry image {
  margin: 0 5px;
}

list {
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 5px;
}
