@import "frappe.css";

* {
  font-size: 12px;
}

window#waybar {
  background: shade(@base, 0.9);
  color: @text;
}

#custom-logo {
  padding: 0 15px;
  font-size: 20px;
}

#workspaces {
  background: @surface0;
  padding: 2px;
  margin: 5px 0;
  border-radius: 0.5rem;
}

#workspaces button {
  color: @lavender;
  border: 0;
  box-shadow: none;
  border-radius: 0.5rem;
  padding: 0rem 0.25rem;
  margin: 0 2px;
  transition: all 0.3s ease;
}

#workspaces button.active, #workspaces button:hover {
  background: @sky;
  color: @surface0;
}

#workspaces button.active {
  padding: 0rem 0.25rem;
}

#workspaces button.urgent {
  background: #ff441f;
}

window#waybar.empty #window {
  background: transparent;
}

#custom-music,
#window,
#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#clock,
#tray,
#custom-power {
  background: @surface0;
  padding: 0px 8px;
  margin: 5px 0;
  border-radius: 0.5rem;
}

#pulseaudio.muted {
  color: #ff5b45;
}

#custom-power {
  margin-right: 5px;
  font-size: 20px;
}
