@import "frappe.css";

* {
  font-weight: 700;
  font-size: 12px;
}

window#waybar {
  background-color: shade(@base, 0.9);
  border: 2px solid alpha(@crust, 0.3);
  color: @text;
  margin: 5px 5px;
}

tooltip {
  border-radius: 8px;
}

#workspaces {
  margin: 5px;
  border-radius: 15px;
}

#workspaces button {
  background: #1e1e1e;
  margin: 2px;
  color: #fff;
  padding: 2px 6px;
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

#workspaces button:hover {
  color: #000;
  background: #fff;
  border-radius: 15px;
  transition: 200ms;
  opacity: 0.8;
}

#workspaces button.active {
  color: #000;
  background: #fff;
  border-radius: 15px;
  transition: 200ms;
}

#workspaces button.urgent {
  background-color: #ff441f;
}

#custom-logo {
  padding: 0px 15px;
  font-size: 20px;
}

#custom-music,
#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#clock,
#tray,
#custom-power {
  background-color: @surface0;
  padding: 5px 10px;
  margin: 5px 0;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#window {
  color: #94e2d5;
  background-color: #1e1e1e;
  padding: 0px 8px;
  margin: 6px 3px;
  border-radius: 20px;
}

window#waybar.empty #window {
  background-color: transparent;
}

#pulseaudio {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#pulseaudio.muted {
  color: #ff5b45;
}

#cpu {
  color: @blue;
}

#memory {
  color: @pink;
}

#clock {
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#custom-power {
  margin-right: 10px;
  padding: 0px 15px;
  font-size: 20px;
  border-radius: 1rem;
  color: @red;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}
