@import "frappe.css";

* {
  font-size: 12px;
}

window#waybar {
  background: shade(@base, 0.9);
  border: 2px solid alpha(@crust, 0.3);
  color: @text;
}

#custom-logo {
  padding: 0 15px;
  font-size: 20px;
}

#workspaces {
  margin: 5px 0;
}

#workspaces button {
  color: @lavender;
  background: @surface0;
  border: 0;
  box-shadow: none;
  border-radius: 1rem;
  padding: 0rem 0.25rem;
  margin: 0 2px;
}

#workspaces button.active, #workspaces button:hover {
  color: @surface0;
  background: @sky;
}

#workspaces button.active {
  padding: 0rem 0.75rem;
}

#workspaces button.urgent {
  background: #ff441f;
}

#window {
  color: @blue;
}

window#waybar.empty #window {
  background: transparent;
}

#custom-music,
#window,
#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#clock,
#tray,
#custom-power {
  background: @surface0;
  padding: 0px 8px;
  margin: 5px 0;
  border-radius: 0.5rem;
}

#custom-music {
  color: @mauve;
}

#pulseaudio {
  color: @maroon;
}

#pulseaudio.muted {
  color: #ff5b45;
}

#cpu {
  color: @blue;
}

#memory {
  color: @pink;
}

#clock {
  color: @blue;
}

#custom-power {
  margin-right: 5px;
  font-size: 20px;
  color: @red;
}
